=========================
Environment Variables
=========================

.env

=========================
Virtual Environments
=========================

venv/
.venv/
env/

=========================
Python Cache Files
=========================

pycache/
*.py[cod]
*$py.class