streamlit
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-chroma
langchain-groq

groq

chromadb

sentence-transformers
transformers
torch

youtube-transcript-api

python-dotenv